extends layout

block content
    form(method='post',enctype="multipart/form-data",action="/add")
        label(for="name") name
        input(type="text" class="form-control" name="name" id="name")
        label(for="artist") artist
        input(type="text" class="form-control" name="artist" id="artist")
        label(for="music") music
        input(type="file" class="form-control" name="music" id="music" accept="audio/*")
        label(for="duration") duration
        input(type="text" class="form-control" name="duration" id="duration" value="323")
        label(for="poster") poster
        input(type="file" class="form-control" name="poster" id="poster" accept="image/*")
        label(for="lyric") lyric
        input(type="file" class="form-control" name="lyric" id="lyric" accept=".lrc")
        br
        input(type="submit" class="btn btn-primary" value="提交")
    br
    a(class="btn btn-default btn-primary" href="/") return